#gameBoard {
    display: grid;
    width: 99vw;
    height: 98vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". card . ";
}

#bingoCard {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-area: card;
    gap: 10px;
}

div[class^='bingoPic'] {
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

div[class^='bingoPic']:hover {
    background-color: yellow;
}

div[class^='bingoPic']>img {
    width: 150px;
    height: 150px;
}

.bingoPic-correct {
    background-color: green;
}

.bingoPic-wrong {
    background-color: pink;
}

.picContainer {
    border: 1px solid black;
    padding: 20px;
}

#gameInfo {
    border: 1px solid black;
}