#gameBoard {
    display: grid;
    width: 99vw;
    height: 98vh;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: ". card . ";
}

#bingoCard {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-area: card;
}

.bingoPic {
    width: 100px;
    height: 100px;
}

.picContainer {
    border: 1px solid black;
    padding: 20px;
}

#gameInfo {
    border: 1px solid black;
}